<body>
<h1>GribScript</h1>
<p>
Linguaggio di scripting per la manipolazione di file
<a href="https://en.wikipedia.org/wiki/GRIB">GRIB</a> ispirato a awk. La
differenza sostanziale con awk sta nel fatto che, invece di processare un
file di input riga per riga, processa un file GRIB messaggio per messaggio.
</p>

<p>
Le parti del GRIB che interessano a GribScript sono:
<ul>
<li>Le chiavi: ogni messaggio GRIB pu&ograve; essere visto come un array
associativo in cui ad ogni chiave (stringa) viene associato un
valore, che pu&ograve; essere ottenuto sotto forma di intero, double o stringa.
Chiavi di comune utilizzo riguardano il parametro, l'istante di previsione,
la data di emissione del modello. 
</li>
<li>
I valori: ogni messaggio GRIB ha una matrice di valori, ognuno dei quali
rappresenta il valore in una cella della griglia della previsione.
</li>
</ul>  
</p>

<h2>Struttura di uno script</h2>

<pre>
// Sezione eseguita all'esecuzione dello script.
BEGIN {
    // Assegno il valore intero alla variabile x.
    // Le variabili sotto tutte globali.
    x = 1;
    // Riassegno un valore a x, che diventa una stringa
    // perché stringa + intero = stringa
    x = "stringa_" + 1;
    // Stampo su standard output "stringa_1"
    print(x);
}

// Le altre sezioni sono eseguite per ogni GRIB ma solo se la condizione
// risulta vera. Nella condizione, le variabili sono le chiavi del GRIB.·
shortName == "tp" {
    print("Ho trovato una precipitazione totale");
    // GRIB_COUNT è una variabile predefinita, che indica il numero
    // del messaggio GRIB processati fino a quel momento (parte da 0).·
    if (GRIB_COUNT > 0) {
        // Scrivo l'attuale messaggio GRIB in modalità append
        writegrib("precipitazione.grib", true, CURRENT_GRIB);
    } else {
        // Sono al primo grib, quindi resetto il file
        writegrib("precipitazione.grib", false, CURRENT_GRIB);
    }
}

shortName == "t" {
    print("Ho trovato una temperatura");
    // Posso fare operazioni algebriche tra i valori della matrice di un
    // GRIB e uno scalare.
    temperature_in_C = CURRENT_GRIB - 273.15;
    append = GRIB_COUNT >= 0;
    center = getgrib(CURRENT_GRIB, "center");
    // Le chiavi dei GRIB sono un tipo speciale, che si "adatta" all'altro
    // operando
    if (center == "98") {·
        writegrib("temperatura_ecmwf.grib", append, temperature_in_C);
    } elif (center == 80) {
        writegrib("temperatura_italia.grib", append, temperature_in_C);
    }
}

// Come in awk, una sezione senza condizione viene sempre eseguita.·
{
    write("log.txt", GRIB_COUNT >= 0, "Grib #" + GRIB_COUNT);
}

// Sezione eseguita alla fine dello script
END {
    print("Fine.");
}
</pre>

@author Emanuele Di Giacomo &lt;emanuele&#64;digiacomo.cc&gt;
</body>
